<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="Mode" value="1" />
    <add key="Action" value="0" />
    <add key="Minimize" value="False" />
    <add key="Autostart" value="False" />
    <add key="Time" value="00:30:00" />
  </appSettings>
</configuration>
